/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
    
}
/* Empêche tous les soulignements */
a{
    text-decoration:none;
    color:inherit;
}

/* NAVBAR */
.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background: linear-gradient(to right, #000000,#5a5a5a);
    color:D4AF37;
}

.navbar ul{
    display:flex;
    gap:25px;
    margin-left: auto;
}
.navbar ul li {
    list-style: none;
    padding: 5px 10px;
    display: inline-block;
    transition: transform 0.2s ease,color 0.2s ease
}

.navbar ul li:hover {
    transform: translateY(-5px);
    color: #D4AF37;
}

.navbar {
    position: relative; /* nécessaire pour que la fleur se positionne par rapport à la navbar */
}

.fleur-navbar {
    position: absolute; /* place la fleur sans déplacer la bannière */
    bottom: -30px;      /* juste sous la navbar */
    left: 20px;         /* distance depuis le bord gauche */
    width: 70px;        /* taille de la fleur */
    height: auto;       /* garde les proportions */
}

/* HERO */
.hero{
    text-align:center;
    padding:100px 40px;
    color:white;
    background: linear-gradient(to right, #000000,#5a5a5a);
}

/* SECTIONS */
section{
    padding:60px 20px;
}

/* Titres sans soulignement */
h2{
    font-size:28px;
    margin-bottom:25px;
    border:none;
    color: #D4AF37;
}

/* CONTENEUR A PROPOS */
.about-container{
    display:flex;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
    justify-content: center;
}

/* PHOTO (pas agrandie, pas entourée) */
.profile-photo{
    width:200px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    border:none;
}

/* TEXTE */
.about-text{
    max-width:600px;
}

.about-text p{
    margin-bottom:15px;
    line-height:1.8;
    font-size: 18px;
}

/* PASSION */
.passion p{
    max-width:700px;
    margin-bottom:25px;
    line-height:1.8;
    font-size: 18px;
    margin-left: 20px;
}

.passion{
    flex-direction: column;
    display: flex;
    align-items: center;
}

/* BOUTON */
.btn-contact {
    background-color: linear-gradient( 145deg,#666666,#444444); /* remets ton bleu si besoin */
    color: black;
    border: none;
    padding: 15px 40px;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease; box-shadow 0.2 ease;
    
}

.btn-contact:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg,#666666,#444444);
}
.btn-contact:active {
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(136,136, 136, 0.4);
}
/* FOOTER */
footer {
  text-align: center;
  padding: 40px 20px;
  color: white;
  margin-top: 40px;
  background: linear-gradient(135deg, #000000, #6e6e6e);
}